@import 'src/styles';

.btn-pos{
    margin-left:80%;
}

.is-left{
    margin-left:30%;
    font-size:16px;
}

//Table
tr,th,td{
    padding: 2px;
    font-size: 14px;  
    border: 1px solid black;
}

