<ng-progress [showSpinner]="true" [direction]="'leftToRightIncreased'" [color]="'#B2DFDB'" [trickleSpeed]="300" [ease]="'linear'">
</ng-progress>

<button mat-button class="btn-pos" (click)='OnClickCurrentLocation()'>
  <mat-icon>my_location</mat-icon>&nbsp;
  <strong>Current Location</strong>
</button>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>

    <mat-card>
      <mat-card-title>

        <strong>Current Weather {{ws.myWeather?.city}}, {{ws.myWeather?.country}} </strong>

      </mat-card-title>
      <mat-card-content>
        <h2>
          <form (ngSubmit)="onSubmit(weatherForm)" #weatherForm="ngForm">
            <mat-form-field>
              <input matInput type="text" name="city" placeholder="Your City Name" [(ngModel)]="city" required>

            </mat-form-field>
            <button mat-button>Go</button>
            <app-alert></app-alert>
          </form>
        </h2>

        <h1>
          <strong>{{ws.myWeather?.temp}}&deg;C</strong>
          <span class="is-left">{{ws.myWeather?.date| date:'EEEE, d MMMM y'}}</span>
        </h1>

        <h2>
          <img src="http://openweathermap.org/img/w/{{ws.myWeather?.icon}}.png"> &nbsp;
          <strong>{{ws.myWeather?.weatherKind}}</strong>
        </h2>

        <table>
          <tr>
            <th>Wind</th>
            <td>
              {{ws.myWeather?.wind_speed}} m/s
            </td>
            <th>Cloudiness</th>
            <td>
              {{ws.myWeather?.cloudiness}}%
            </td>
            <th>Humidity</th>
            <td>{{ws.myWeather?.humid}}%
            </td>
          </tr>
          <tr>
            <tr>
              <th>Pressure</th>
              <td>{{ws.myWeather?.pressure}} hpa
              </td>
              <th>Max Temp</th>
              <td>{{ws.myWeather?.tempMax}}&deg;C
              </td>
              <th>Min Temp</th>
              <td>{{ws.myWeather?.tempMin}}&deg;C
              </td>
            </tr>
            <tr>
              <th>Sunrise</th>
              <td>{{ws.myWeather?.sunrise}}
              </td>
              <th>Sunset</th>
              <td>{{ws.myWeather?.sunset}}
              </td>
              <th>Geo Coords</th>
              <td>[{{ws.myWeather?.coords.lon}}, {{ws.myWeather?.coords.lat}}]
              </td>
            </tr>
        </table>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card>

      <mat-card-title>
        <strong>Weather And Forecast {{ws.myWeather?.city}}, {{ws.myWeather?.country}}</strong>
      </mat-card-title>

      <mat-card-content>
        <chart [type]="fs.Chart" [data]="fs.Value" [options]="fs.Option"></chart>

      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>