<mat-grid-list cols="1" rowHeight="1:1">
  <mat-grid-tile>

    <mat-card>
      <mat-card-title>
        <strong>Map</strong>
      </mat-card-title>
      <mat-card-content>

        <agm-map [latitude]="this.lat" [longitude]="this.lon">
          <agm-marker [latitude]="this.lat" [longitude]="this.lon" iconUrl="http://openweathermap.org/img/w/{{this.icon}}.png" title={{this.title}}>
          </agm-marker>
        </agm-map>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>