<mat-grid-list cols="1" rowHeight="1:1">
  <mat-grid-tile>

    <mat-card class="bg-card">

      <mat-card-title>
        <strong>5 Days Weather Forecast</strong>
      </mat-card-title>

      <mat-card-content>

        <mat-card *ngFor="let data of fs.fiveDaysForecast">
          <mat-card-content class="forecast">
            <strong>
              {{data?.dt}}
            </strong>&nbsp;
            <img src="http://openweathermap.org/img/w/{{data?.icon}}.png"> &nbsp;
            <strong> {{data?.des}}</strong> &nbsp;
            <hr> High:
            <span class="maxTemp">
              <strong>{{data?.tempMax}} </strong>&deg;C
            </span> &nbsp; Low:
            <span class="minTemp">
              <strong>{{data?.tempMin}} </strong>&deg;C
            </span> &nbsp; Wind:
            <strong>{{data?.wind_speed}} m/s </strong>&nbsp; Clouds:
            <strong>{{data?.clouds}}%</strong>&nbsp; Humidity:
            <strong>{{data?.humidity}}%</strong>&nbsp; Pressure:
            <strong>{{data?.pressure}} hpa</strong>

          </mat-card-content>
        </mat-card>

      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>