<ng-progress [showSpinner]="true" [direction]="'leftToRightIncreased'" [color]="'#B2DFDB'" [trickleSpeed]="300" [ease]="'linear'">
</ng-progress>

<mat-spinner *ngIf='loading'></mat-spinner>

<div *ngIf='!loading'>
  <mat-grid-list cols="2" rowHeight='450px'>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Current Weather {{myWeather?.city}}, {{myWeather?.country}}
        </mat-card-title>
        <mat-card-content>

          <h3>
            <form (ngSubmit)="onSubmit(weatherForm)" #weatherForm="ngForm">
              <mat-form-field>
                <input matInput type="text" name="city" placeholder="Your City Name" [(ngModel)]="city" required>
              </mat-form-field>
              <button mat-button>Go</button>
              <app-alert></app-alert>
            </form>
          </h3>

          <strong>{{myWeather?.date| date:'EEEE, d MMMM y'}}</strong>

          <h2>
            <strong> {{myWeather?.city}}&nbsp; {{myWeather?.temp}}&deg;C
              <img src="http://openweathermap.org/img/w/{{myWeather?.icon}}.png"> &nbsp; {{myWeather?.weatherKind}}
            </strong>
          </h2>

          <mat-list>
            <mat-list-item>
              <strong>Sunrise </strong> &nbsp; {{myWeather?.sunrise}} &nbsp;
              <strong>Sunset </strong> &nbsp; {{myWeather?.sunset}} &nbsp;
            </mat-list-item>
            <mat-list-item>
              <strong>Max Temp </strong>&nbsp; {{myWeather?.tempMax}}&deg;C &nbsp;
              <strong>Min Temp </strong>&nbsp; {{myWeather?.tempMin}}&deg;C &nbsp;
              <strong>Clouds </strong>&nbsp; {{myWeather?.cloudiness}}% &nbsp;
            </mat-list-item>
            <mat-list-item>
              <strong>Wind </strong> &nbsp; {{myWeather?.wind_speed}} m/s &nbsp;
              <strong>Humidity </strong> &nbsp; {{myWeather?.humid}}% &nbsp;
              <strong>Pressure </strong>&nbsp; {{myWeather?.pressure}} hPa &nbsp;
            </mat-list-item>
            <mat-list-item>
              <strong>Geo Coords </strong> &nbsp; Latitude : {{myWeather?.coords.lat}}, Longitude : {{myWeather?.coords.lon}} &nbsp;
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Temperature Graph (C)
        </mat-card-title>
        <mat-card-content>
          <chart [type]="tempChart" [data]="tempValues" [options]="tempOptions"></chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="450px">

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Humidity (%) - Wind (m/s) Graph
        </mat-card-title>
        <mat-card-content>
          <chart [type]="Chart" [data]="Value" [options]="Option"></chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Pressure (hPa) Graph
        </mat-card-title>
        <mat-card-content>
          <chart [type]="pressureChart" [data]="pressureValues" [options]="pressureOptions"></chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>