<ng-progress [showSpinner]="true" [direction]="'leftToRightIncreased'" [color]="'#B2DFDB'" [trickleSpeed]="300" [ease]="'linear'">
</ng-progress>

<mat-spinner *ngIf='loading'></mat-spinner>

<div *ngIf='!loading'>
  <mat-grid-list cols="2" rowHeight='420px'>
    <mat-grid-tile>

      <mat-card>
        <mat-card-title>
          Current Weather {{myWeather?.city}}, {{myWeather?.country}}
        </mat-card-title>
        <mat-card-content>
          <h2>
            <form (ngSubmit)="onSubmit(weatherForm)" #weatherForm="ngForm">
              <mat-form-field>
                <input matInput type="text" name="city" placeholder="Your City Name" [(ngModel)]="city" required>

              </mat-form-field>
              <button mat-button>Go</button>
              <app-alert></app-alert>
            </form>
          </h2>

          <h1>
            <strong>{{myWeather?.temp}}&deg;C</strong>
            <span class="is-left">{{myWeather?.date| date:'EEEE, d MMMM y'}}</span>
          </h1>

          <h2>
            <img src="http://openweathermap.org/img/w/{{myWeather?.icon}}.png"> &nbsp;
            <strong>{{myWeather?.weatherKind}}</strong>
          </h2>

          <table>
            <tr>
              <th>Wind</th>
              <td>
                {{myWeather?.wind_speed}} m/s
              </td>
              <th>Cloudiness</th>
              <td>
                {{myWeather?.cloudiness}}%
              </td>
              <th>Humidity</th>
              <td>{{myWeather?.humid}}%
              </td>
            </tr>
            <tr>
              <tr>
                <th>Pressure</th>
                <td>{{myWeather?.pressure}} hpa
                </td>
                <th>Max Temp</th>
                <td>{{myWeather?.tempMax}}&deg;C
                </td>
                <th>Min Temp</th>
                <td>{{myWeather?.tempMin}}&deg;C
                </td>
              </tr>
              <tr>
                <th>Sunrise</th>
                <td>{{myWeather?.sunrise}}
                </td>
                <th>Sunset</th>
                <td>{{myWeather?.sunset}}
                </td>
                <th>Geo Coords</th>
                <td>[{{myWeather?.coords.lon}}, {{myWeather?.coords.lat}}]
                </td>
              </tr>
          </table>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>

      <mat-card>

        <mat-card-title>
          Temperature Graph (C)
        </mat-card-title>

        <mat-card-content>

          <chart [type]="tempChart" [data]="tempValues" [options]="tempOptions"></chart>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="420px">
    <mat-grid-tile>

      <mat-card>
        <mat-card-title>

          Humidity (%) - Wind (m/s) Graph

        </mat-card-title>
        <mat-card-content>

          <chart [type]="Chart" [data]="Value" [options]="Option"></chart>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>

      <mat-card>

        <mat-card-title>
          Pressure (hpa) Graph
        </mat-card-title>

        <mat-card-content>

          <chart [type]="pressureChart" [data]="pressureValues" [options]="pressureOptions"></chart>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>
</div>