<ng-progress [showSpinner]="true" [direction]="'leftToRightIncreased'" [color]="'#B2DFDB'" [trickleSpeed]="300" [ease]="'linear'">
</ng-progress>

<mat-spinner *ngIf='loading'></mat-spinner>

<div *ngIf='!loading'>
  <mat-grid-list cols="2" rowHeight='450px'>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Current Weather {{myWeather?.city}}, {{myWeather?.country}}
        </mat-card-title>
        <mat-card-content>

          <h2>
            <form (ngSubmit)="onSubmit(weatherForm)" #weatherForm="ngForm">
              <mat-form-field>
                <input matInput type="text" name="city" placeholder="Your City Name" [(ngModel)]="city" required>
              </mat-form-field>
              <button mat-button>Go</button>
              <app-alert></app-alert>
            </form>
          </h2>

          <strong> {{myWeather?.date| date:'EEEE, d MMMM y'}}</strong>

          <h2>
            <strong> {{myWeather?.city}}&nbsp; {{myWeather?.temp}}&deg;C
              <img src="http://openweathermap.org/img/w/{{myWeather?.icon}}.png"> &nbsp; {{myWeather?.weatherKind}}
            </strong>
          </h2>

          <table>
            <tr>
              <td>Max Temp -></td>
              <th>{{myWeather?.tempMax}}&deg;C</th>
              <td>Min Temp -></td>
              <th>{{myWeather?.tempMin}}&deg;C </th>
            </tr>
            <tr>
              <td>Sunrise -></td>
              <th>{{myWeather?.sunrise}}</th>
              <td>Sunset -></td>
              <th>{{myWeather?.sunset}}</th>
            </tr>
            <tr>
              <td>Pressure -></td>
              <th>{{myWeather?.pressure}} hPa</th>
              <td>Cloud -></td>
              <th>{{myWeather?.cloudiness}}% </th>
            </tr>
            <tr>
              <td>Wind Speed -></td>
              <th>{{myWeather?.wind_speed}} m/s</th>
              <td>Humidity -></td>
              <th>{{myWeather?.humid}}% </th>
            </tr>
            <tr>
              <td>Geo Coords -></td>
              <th>Lat : {{myWeather?.coords.lat}}, Lon : {{myWeather?.coords.lon}} </th>
            </tr>
          </table>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Temperature Graph (C)
        </mat-card-title>
        <mat-card-content>
          <chart [type]="tempChart" [data]="tempValues" [options]="tempOptions"></chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="450px">

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Humidity (%) - Wind (m/s) Graph
        </mat-card-title>
        <mat-card-content>
          <chart [type]="Chart" [data]="Value" [options]="Option"></chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Pressure (hPa) Graph
        </mat-card-title>
        <mat-card-content>
          <chart [type]="pressureChart" [data]="pressureValues" [options]="pressureOptions"></chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>